@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.register-form {
  max-width: 613px;
  margin: 0 auto 154px;

  @include breakpointUi(lt-md) {
    padding: 0 10px;
  }

  &__group {
    margin-bottom: 10px;

    &_indent {
      margin-bottom: 40px;

      @include breakpointUi(lt-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__help-block {
    @include text("color-red", "xs");
    margin: 8px 0 0 21px;
    display: block;
  }

  &__button {
    @extend %button;
    margin-bottom: 20px;
    outline: none;
    border: none;
    width: 100%;
    text-transform: uppercase;
    height: 60px;

  }

  &__field {
    border: 1px solid map-get($colors, "color-darker-gray");
    border-radius: 8px;
    background: map-get($colors, "color-white");
    height: 60px;
    width: 100%;
    outline: none;
    box-shadow: none;
    @include text("main", "md");
    padding: 10px 20px;

    &::-webkit-input-placeholder {
      color: map-get($colors, "color-darker-gray");
    }
    &:-ms-input-placeholder {
      color: map-get($colors, "color-darker-gray");
    }
    &::-ms-input-placeholder {
      color: map-get($colors, "color-darker-gray");
    }
    &::-moz-placeholder {
      color: map-get($colors, "color-darker-gray");
    }
    &::placeholder {
      color: map-get($colors, "color-darker-gray");
    }

    &:focus,
    &:hover {
      border: 1px solid map-get($colors, "main");
    }

    &_error {
      color: map-get($colors, "color-red");
      border: 1px solid currentColor;

      &:focus,
      &:hover {
        color: map-get($colors, "color-red");
        border: 1px solid currentColor;
      }
    }

    &_success {
      color: map-get($colors, "main");
      border: 1px solid currentColor;

      &:focus,
      &:hover {
        color: map-get($colors, "main");
        border: 1px solid currentColor;
      }
    }
  }

  &__submit {
    display: flex;
    gap: 15px;
    align-items: center;

    @include breakpointUi(lt-md) {
      flex-direction: column;
    }
  }

  .register-form-agree {
    @include text("main", "sm");
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;

    &__link {
        @include text("main", "sm");
        text-decoration: underline;

        @include breakpointUi(lt-md) {
          font-size: 13px;
          line-height: 1.5;
        }
    }

    &__text {
      margin-left: 2px;
      margin-top: -2px;

      @include breakpointUi(lt-md) {
        font-size: 13px;
        line-height: 1.5;
      }
    }

    &__checkbox {
      opacity: 0;
    }

    &__checkmark {
      --size: 13px;
      border: 1px solid map-get($colors, "main");
      width: var(--size);
      height: var(--size);
      border-radius: 0;
      top: 3px;
      left: 0;
      box-shadow: none;
      position: absolute;
    }

    &:hover {
      .register-form-agree__checkmark {
        border: 1px solid map-get($colors, "color-red");
      }
    }

    & input:checked ~ .register-form-agree {
      &__checkmark {
        border: 1px solid map-get($colors, "color-blue");
        background: map-get($colors, "color-blue");
      }
    }

    &__text_animated {
      animation: change-color 2s;

      .register-form-agree__link {
        animation: change-color 2s;
      }
    }
  }
}

.success-message {
  display: none;
  gap: 15px;
  margin-top: 22px;

  &_visible {
    display: flex;
  }

  &__icon {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    flex: none;
    margin-top: 3px;
  }
}

@keyframes change-color {
  0% {
    color: map-get($colors, "main");
  }
  50% {
    color: map-get($colors, "color-red");
  }
  100% {
    color: map-get($colors, "main");
  }
}
