<section class="first-screen">
    <div class="first-screen__container">
        <h1 class="first-screen__h1">
            <span>Ваше здоровье</span>
            <span class="text--color-blue">в надежных руках</span>
        </h1>
        <div class="first-screen__descr">
            Создаем комфортные условия для вашего лечения и восстановления, обеспечивая максимальную
            эффективность
            и удобство на каждом этапе.
        </div>
        <a href="#" class="first-screen__button">Связаться с клиникой</a>
    </div>
    <div class="doctors-row">
        <div class="doctors-row__inner">
            <div class="doctors-row__block">
                <img src="src/images/i-vasiljeva@2x.png" alt="" width="188" height="330"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Ирина Васильва
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 12 лет
                    </div>
                </div>
            </div>
            <div class="doctors-row__block">
                <img src="src/images/v-petrov@2x.png" alt="" width="257" height="348"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Виталий Петров
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 16 лет
                    </div>
                </div>
            </div>
            <div class="doctors-row__block">
                <img src="src/images/a-romanova@2x.png" alt="" width="248" height="336"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Анастасия Романова
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 8 лет
                    </div>
                </div>
            </div>
        </div>
        <div class="p-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <svg class="p-slider__icon">
                            <use xlink:href="#microscope"></use>
                        </svg>
                        <div class="p-slider__text">
                            Современное оборудование и передовые технологии
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <svg class="p-slider__icon">
                            <use xlink:href="#microscope"></use>
                        </svg>
                        <div class="p-slider__text">
                            Современное оборудование и передовые технологии
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <svg class="p-slider__icon">
                            <use xlink:href="#microscope"></use>
                        </svg>
                        <div class="p-slider__text">
                            Современное оборудование и передовые технологии
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="doctors-row__inner">
            <div class="doctors-row__block">
                <img src="src/images/m-pozharskaya@2x.png" alt="" width="246" height="354"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Мария Пожарская
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 10 лет
                    </div>
                </div>
            </div>
            <div class="doctors-row__block">
                <img src="src/images/a-kirillova@2x.png" alt="" width="267" height="354"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Алина Кириллова
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 7 лет
                    </div>
                </div>
            </div>
            <div class="doctors-row__block">
                <img src="src/images/i-andreev@2x.png" alt="" width="189" height="354"
                    class="doctors-row__image">
                <div class="doctors-row__info">
                    <div class="doctors-row__name">
                        Илья Андреев
                    </div>
                    <div class="doctors-row__text">
                        <span class="text--color-gray">Стаж</span> 9 лет
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>