<nav class="header header_dark">
    <div class="nav-left">
        <a href="#" class="p-logo">
            <!-- Тут обычно стоит ссылка на домашнюю страницу -->
            <svg class="p-logo__svg">
                <use xlink:href="#logo"></use>
            </svg>
        </a>

        <div class="nav-buttons">
            <a href="#" class="nav-buttons__link">О нас</a>
            <a href="#" class="nav-buttons__link">Услуги</a>
            <a href="#" class="nav-buttons__link">Врачи</a>
            <a href="#" class="nav-buttons__link">Акции</a>
            <a href="#" class="nav-buttons__link">Диагностика</a>
            <a href="#" class="nav-buttons__link">Анализы</a>
            <a href="#" class="nav-buttons__link">Пациентам</a>
            <a href="#" class="nav-buttons__link">Контакты</a>
            <a href="#" class="nav-buttons__link nav-buttons__search">
                <svg class="nav-buttons__search-icon">
                    <use xlink:href="#search-icon"></use>
                </svg>
            </a>
            <div class="nav-buttons_close-mobile"></div>
        </div>
    </div>

    <div class="nav-right">
        <div class="nav__info">
            <div class="nav__tel">+7 911 210 02 87</div>
            <div class="nav__schedule">Ежедневно 8:00 - 20:00</div>
        </div>
        <a class="nav__login" href="#">
            <svg class="nav-buttons__user">
                <use xlink:href="#user-icon"></use>
            </svg>
        </a>
        <div class="nav__button popup-opener">Записаться</div>
    </div>

    <div class="nav-mobile-burger"></div>
</nav>