<nav class="nav">
    <div class="nav-mobile-burger"></div>
    <div class="nav_left">
        <a href="#" class="p-logo">
            <svg class="p-logo__svg">
                <use xlink:href="#logo"></use>
            </svg>
        </a>

        <div class="nav-buttons">
            <div href="#" class="nav-buttons__link nav-buttons__link_row">
                <span>О нас</span>
                <svg class="nav-buttons__arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7 7L13 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <div class="hidden-menu">
                    <a href="" class="hidden-menu__item">Отзывы</a>
                    <a href="" class="hidden-menu__item">Новости</a>
                    <a href="" class="hidden-menu__item">Сотрудничество</a>
                </div>
            </div>
            <a href="#" class="nav-buttons__link">Услуги</a>
            <a href="#" class="nav-buttons__link">Врачи</a>
            <a href="#" class="nav-buttons__link">Акции</a>
            <a href="#" class="nav-buttons__link">Диагностика</a>
            <a href="#" class="nav-buttons__link">Анализы</a>
            <a href="#" class="nav-buttons__link">Пациентам</a>
            <a href="#" class="nav-buttons__link">Контакты</a>
            <a href="#" class="nav-buttons__link nav-buttons__search">
                <svg class="nav-buttons__search-icon">
                    <use xlink:href="#search"></use>
                </svg>
            </a>

            <div class="nav-buttons__info-mobile">
                <div class="nav__info">
                    <div class="nav__tel">+7 911 210 02 87</div>
                    <div class="nav__schedule">Ежедневно 8:00 - 20:00</div>
                </div>
                <div class="nav-info-row">
                    <a class="nav__login" href="#">
                        <svg class="nav-buttons__user">
                            <use xlink:href="#user-icon"></use>
                        </svg>
                    </a>
                    <div class="nav__button popup-opener">Записаться</div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_right">
        <div class="nav__info">
            <div class="nav__tel">+7 911 210 02 87</div>
            <div class="nav__schedule">Ежедневно 8:00 - 20:00</div>
        </div>
        <a class="nav__login" href="#">
            <svg class="nav-buttons__user">
                <use xlink:href="#user-icon"></use>
            </svg>
        </a>
        <div class="nav__button popup-opener">Записаться</div>
    </div>

    <a href="#" class="nav__block-mobile">
        <svg class="nav__tel-icon">
            <use xlink:href="#tel-mobile"></use>
        </svg>
    </a>
</nav>