<section class="p-sertificates">
    <h2 class="p-sertificates__h2">
        Сертификаты
    </h2>


    <div class="p-sertificates__row">
        <div class="p-sertificates__license">
            <div class="p-sertificates__lic-num">
                <span>Лицензия</span> #3026
            </div>
            <div class="p-sertificates__lic-text">
                На осуществление медицинской деятельности
            </div>
            <div class="p-sertificates__series">
                <div class="p-sertificates__inner">
                    <div>Серия</div>
                    <div>78Л01</div>
                </div>
                <div class="p-sertificates__inner">
                    <div>№</div>
                    <div>0003458</div>
                </div>
            </div>
            <img class="lozad" data-src="src/images/sertificate-bg.svg" alt="" width="" height=""
                class="p-sertificates__bg">
            <img class="lozad" data-src="src/images/sertificate@2x.png" alt="" width="" height=""
                class="p-sertificates__image">
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__lic-num">
                <span>Лицензия</span> #3026
            </div>
            <div class="p-sertificates__lic-text">
                На осуществление медицинской деятельности
            </div>
            <div class="p-sertificates__series">
                <div class="p-sertificates__inner">
                    <div>Серия</div>
                    <div>78Л01</div>
                </div>
                <div class="p-sertificates__inner">
                    <div>№</div>
                    <div>0003458</div>
                </div>
            </div>
            <img class="lozad" data-src="src/images/sertificate-bg.svg" alt="" width="" height=""
                class="p-sertificates__bg">
            <img class="lozad" data-src="src/images/sertificate@2x.png" alt="" width="" height=""
                class="p-sertificates__image">
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__lic-num">
                <span>Лицензия</span> #3026
            </div>
            <div class="p-sertificates__lic-text">
                На осуществление медицинской деятельности
            </div>
            <div class="p-sertificates__series">
                <div class="p-sertificates__inner">
                    <div>Серия</div>
                    <div>78Л01</div>
                </div>
                <div class="p-sertificates__inner">
                    <div>№</div>
                    <div>0003458</div>
                </div>
            </div>
            <img class="lozad" data-src="src/images/sertificate-bg.svg" alt="" width="" height=""
                class="p-sertificates__bg">
            <img class="lozad" data-src="src/images/sertificate@2x.png" alt="" width="" height=""
                class="p-sertificates__image">
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__lic-num">
                <span>Лицензия</span> #3026
            </div>
            <div class="p-sertificates__lic-text">
                На осуществление медицинской деятельности
            </div>
            <div class="p-sertificates__series">
                <div class="p-sertificates__inner">
                    <div>Серия</div>
                    <div>78Л01</div>
                </div>
                <div class="p-sertificates__inner">
                    <div>№</div>
                    <div>0003458</div>
                </div>
            </div>
            <img class="lozad" data-src="src/images/sertificate-bg.svg" alt="" width="" height=""
                class="p-sertificates__bg">
            <img class="lozad" data-src="src/images/sertificate@2x.png" alt="" width="" height=""
                class="p-sertificates__image">
        </div>
    </div>
</section>