<section class="p-doctors">
    <div class="p-doctors__inner">
        <h2 class="p-doctors__h2">
            Наши врачи
        </h2>

        <div class="p-doctors-accordion">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header">Все</div>

                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/a-romanova@2x.png" alt=""
                                        width="225" height="305">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Анастасия Романова
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 1100</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/v-petrov@2x.png" alt=""
                                        width="225" height="305">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Виталий Петров
                                    </div>
                                    <div class="doctor__experience">
                                        Кандидат медицинских наук
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 2000</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/a-kirillova@2x.png" alt=""
                                        width="225" height="298">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Алина Кириллова
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 1700</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/m-pozharskaya@2x.png" alt=""
                                        width="225" height="324">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Мария Пожарская
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 2800</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/a-romanova@2x.png" alt=""
                                        width="225" height="305">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Анастасия Романова
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 1100</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/v-petrov@2x.png" alt=""
                                        width="225" height="305">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Виталий Петров
                                    </div>
                                    <div class="doctor__experience">
                                        Кандидат медицинских наук
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 2000</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/a-kirillova@2x.png" alt=""
                                        width="225" height="298">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Алина Кириллова
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 1700</strong>₽
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span class="text--color-dark-gray">Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% <span class="text--color-dark-blue">рекомендаций</span>
                                    </div>

                                    <img class="doctor__image lozad" data-src="src/images/m-pozharskaya@2x.png" alt=""
                                        width="225" height="324">
                                </div>
                                <div class="doctor__bottom">
                                    <div class="doctor__name">
                                        Мария Пожарская
                                    </div>
                                    <div class="doctor__experience">
                                        Врач высшей категории
                                    </div>
                                    <div class="doctor__button">
                                        Записаться <strong>от 2800</strong>₽
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next hide-for-small-only"></div>
                        <div class="swiper-button-prev hide-for-small-only"></div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Косметологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Кардиологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Дерматологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Диетологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Гастроэнтерологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Гинекологи</div>

                    <div>Косметологи</div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">Терапевты</div>

                    <div>Косметологи</div>
                </div>
            </div>
        </div>

        <a href="" class="p-doctors__button">Смотреть всех врачей</a>
    </div>
</section>