<section class="p-testimonials">
    <h2 class="p-testimonials__h2">
        Отзывы
    </h2>
    <div class="p-testimonials__descr">
        >70% пациентов приходят по рекомендации
    </div>

    <div class="p-testimonials__slider">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4 class="p-testimonials__h4">Исключительное внимание к деталям </h4>
                    <div class="p-testimonials__text">
                        После посещения ортопеда в этой клинике я остался очень доволен. Сергей Юрьевич не только
                        проявил высокую квалификацию, но и показал исключительное внимание к деталям моего случая.
                        Он подробно объяснил причины моих болей в спине и предложил эффективный план лечения. Благодарю
                        за профессионализм и искреннее отношение к пациентам. Рекомендую этого ортопеда всем, кто
                        нуждается в квалифицированной помощи.
                    </div>
                    <div class="p-testimonials__who">
                        <span>Врач:</span> Руслан Глушаков
                    </div>
                    <div class="p-testimonials__row">
                        <div class="p-testimonials__inner">
                            <div class="p-testimonials__icon">
                                М
                            </div>
                            <div class="p-testimonials__name">
                                Михаил К.
                            </div>
                            <div class="p-testimonials__divider"></div>
                            <div class="p-testimonials__num">
                                5
                            </div>
                            <svg class="p-testimonials__star">
                                <use xlink:href="#search-star"></use>
                            </svg>
                        </div>

                        <a class="p-testimonials__inner" href="#">
                            <span class="p-testimonials__where">
                                Яндекс
                            </span>
                            <svg class="p-testimonials__arrow">
                                <use xlink:href="#arrow-link"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h4 class="p-testimonials__h4">Лечение дало заметные улучшения</h4>
                    <div class="p-testimonials__text">
                        Я недавно посетила дерматолога в этой клинике и осталась очень довольна результатами. Врач была
                        очень внимательной, тщательно осмотрела мою кожу и предложил эффективное лечение атопического
                        дерматита. Лечение уже дало заметные улучшения, и я чувствую себя гораздо лучше. Я рекомендую
                        этого дерматолога всем, кто ищет компетентного специалиста и качественный уход за кожей.
                    </div>
                    <div class="p-testimonials__who">
                        <span>Врач:</span> Руслан Глушаков
                    </div>
                    <div class="p-testimonials__row">
                        <div class="p-testimonials__inner">
                            <div class="p-testimonials__icon">
                                К
                            </div>
                            <div class="p-testimonials__name">
                                Карина
                            </div>
                            <div class="p-testimonials__divider"></div>
                            <div class="p-testimonials__num">
                                5
                            </div>
                            <svg class="p-testimonials__star">
                                <use xlink:href="#search-star"></use>
                            </svg>
                        </div>

                        <a class="p-testimonials__inner" href="#">
                            <span class="p-testimonials__where">
                                2ГИС
                            </span>
                            <svg class="p-testimonials__arrow">
                                <use xlink:href="#arrow-link"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h4 class="p-testimonials__h4">Стоимость услуг оказалась доступной</h4>
                    <div class="p-testimonials__text">
                        Недавно обратилась в клинику, специализирующуюся на лечении заболеваний опорно-двигательного
                        аппарата. Врачи там оказались высококвалифицированными, а современное оборудование позволило
                        провести точную диагностику. Специалисты внимательно отнеслись к моей проблеме и предложили
                        оптимальное решение. Стоимость услуг оказалась вполне доступной, а персонал клиники был
                        доброжелателен и отзывчив. Рекомендую эту клинику всем, кто ищет качественную медицинскую помощь
                        для своего здоровья.
                    </div>
                    <div class="p-testimonials__who">
                        <span>Врач:</span> Руслан Глушаков
                    </div>
                    <div class="p-testimonials__row">
                        <div class="p-testimonials__inner">
                            <div class="p-testimonials__icon">
                                И
                            </div>
                            <div class="p-testimonials__name">
                                Игорь
                            </div>
                            <div class="p-testimonials__divider"></div>
                            <div class="p-testimonials__num">
                                5
                            </div>
                            <svg class="p-testimonials__star">
                                <use xlink:href="#search-star"></use>
                            </svg>
                        </div>

                        <a class="p-testimonials__inner" href="#">
                            <span class="p-testimonials__where">
                                Про Врачей
                            </span>
                            <svg class="p-testimonials__arrow">
                                <use xlink:href="#arrow-link"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next hide-for-small-only"></div>
            <div class="swiper-button-prev hide-for-small-only"></div>
        </div>
    </div>

    <a href="" class="p-testimonials__button">Читать все отзывы</a>
</section>