<section class="p-discount">
    <div class="p-discount__block">
        <h2 class="p-discount__h2">
            Получите скидку <span class="text--color-blue">10% на первое посещение</span> любого специалиста
        </h2>
        <div class="p-discount__descr">
            Ответьте на 4 простых вопроса о вашей ситуации – менеджер центра запишет вас к нужному врачу на удобное вам
            время и закрепит скидку
        </div>
    </div>

    <div class="p-choose">
        <div  class="p-choose__subtitle">1 вопрос</div>
        <div class="p-choose__title">
            Выберите врача
        </div>
        <div class="p-choose__container">
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block p-choose__block_active">
                Кардиолог
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
            <div class="p-choose__block">
                M default
            </div>
        </div>
    </div>

    <svg class="p-discount__svg">
        <use xlink:href="#bg-image-center"></use>
    </svg>
</section>