<section class="p-partners">
    <h2 class="p-partners__h2">
        Наши партнёры
    </h2>
    <div class="p-partners__descr">
        Профессионалы своего дела
    </div>

    <div class="animated-text">
        <div class="animated-text__inner animated-text__inner_top">
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
        </div>

        <div class="animated-text__inner animated-text__inner_bottom">
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
            <div class="animated-text__items">
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-riat.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-mb.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-invitro.svg" width="200" height="99"
                        alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-eml.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-bck.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-remsi.svg" width="200" height="99" alt="">
                </div>
                <div class="animated-text__block">
                    <img class="lozad" data-src="src/images/partners/partner-doct.svg" width="151" height="99" alt="">
                </div>
            </div>
        </div>
    </div>
</section>