<section class="p-sertificates">
    <h2 class="p-sertificates__h2">
        Сертификаты
    </h2>

    <div class="p-sertificates__row">
        <div class="p-sertificates__license">
            <div class="p-sertificates__content">
                <div class="p-sertificates__lic-num">
                    <span class="text--color-darker-gray">Лицензия</span> #3026
                </div>
                <div class="p-sertificates__lic-text">
                    На осуществление медицинской деятельности
                </div>
                <div class="p-sertificates__series">
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">Серия</div>
                        <div>78Л01</div>
                    </div>
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">№</div>
                        <div>0003458</div>
                    </div>
                </div>
            </div>
            <img class="p-sertificates__bg lozad" data-src="src/images/sertificate-bg.svg" alt="" width="315"
                height="453">
            <img class="p-sertificates__image lozad" data-src="src/images/sertificate@2x.png" alt="" width="315"
                height="453">
            <a href="#" class="p-sertificates__button-download">
                <svg class="p-sertificates__svg">
                    <use xlink:href="#download-mobile"></use>
                </svg>
                <span>Скачать</span>
            </a>
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__content">
                <div class="p-sertificates__lic-num">
                    <span class="text--color-darker-gray">Лицензия</span> #3026
                </div>
                <div class="p-sertificates__lic-text">
                    На осуществление медицинской деятельности
                </div>
                <div class="p-sertificates__series">
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">Серия</div>
                        <div>78Л01</div>
                    </div>
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">№</div>
                        <div>0003458</div>
                    </div>
                </div>
            </div>
            <img class="p-sertificates__bg lozad" data-src="src/images/sertificate-bg.svg" alt="" width="315"
                height="453">
            <img class="p-sertificates__image lozad" data-src="src/images/sertificate@2x.png" alt="" width="315"
                height="453">
            <a href="#" class="p-sertificates__button-download">
                <svg class="p-sertificates__svg">
                    <use xlink:href="#download-mobile"></use>
                </svg>
                <span>Скачать</span>
            </a>
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__content">
                <div class="p-sertificates__lic-num">
                    <span class="text--color-darker-gray">Лицензия</span> #3026
                </div> 
                <div class="p-sertificates__lic-text">
                    На осуществление медицинской деятельности
                </div>
                <div class="p-sertificates__series">
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">Серия</div>
                        <div>78Л01</div>
                    </div>
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">№</div>
                        <div>0003458</div>
                    </div>
                </div>
            </div>
            <img class="p-sertificates__bg lozad" data-src="src/images/sertificate-bg.svg" alt="" width="315"
                height="453">
            <img class="p-sertificates__image lozad" data-src="src/images/sertificate@2x.png" alt="" width="315"
                height="453">
            <a href="#" class="p-sertificates__button-download">
                <svg class="p-sertificates__svg">
                    <use xlink:href="#download-mobile"></use>
                </svg>
                <span>Скачать</span>
            </a>
        </div>
        <div class="p-sertificates__license">
            <div class="p-sertificates__content">
                <div class="p-sertificates__lic-num">
                    <span class="text--color-darker-gray">Лицензия</span> #3026
                </div>
                <div class="p-sertificates__lic-text">
                    На осуществление медицинской деятельности
                </div>
                <div class="p-sertificates__series">
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">Серия</div>
                        <div>78Л01</div>
                    </div>
                    <div class="p-sertificates__inner">
                        <div class="text--color-darker-gray">№</div>
                        <div>0003458</div>
                    </div>
                </div>
            </div>
            <img class="p-sertificates__bg lozad" data-src="src/images/sertificate-bg.svg" alt="" width="315"
                height="453">
            <img class="p-sertificates__image lozad" data-src="src/images/sertificate@2x.png" alt="" width="315"
                height="453">
            <a href="#" class="p-sertificates__button-download">
                <svg class="p-sertificates__svg">
                    <use xlink:href="#download-mobile"></use>
                </svg>
                <span>Скачать</span>
            </a>
        </div>
    </div>
</section>