<section class="p-help">
    <h2 class="p-help__h2">
        Мы поможем вам
    </h2>
    <div class="p-help__descr">
        Атмосфера безопасности и эмпатии
    </div>
 
    <div id="tabs" class="p-accordion">
        <ul class="p-accordion__top">
            <li class="accordion-header"><a href="#specialists">Специалисты</a></li>
            <li class="accordion-header"><a href="#diagnostics">Диагностика</a></li>
            <li class="accordion-header"><a href="#analysis">Анализы</a></li>
            <li class="accordion-header"><a href="#illness">Заболевания</a></li>
        </ul>
        <div id="specialists">
            <div id="tabs-inner" class="p-accordion__inner">
                <ul class="p-accordion__inner-top">
                    <li class="accordion-header"><a href="#adult-doctors">Взрослые врачи</a></li>
                    <li class="accordion-header"><a href="#child-doctors">Детские врачи</a></li>
                </ul>
    
                <div id="adult-doctors">
                    <h3 class="p-help__h3">
                        Более 20 специальностей врачей готовы <span class="text--color-blue">помочь
                            вам</span>
                    </h3>
    
                    <div class="p-alphabet">
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                A
                            </div>
                            <div class="p-alphabet__list">
                                <div>Андролог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                B
                            </div>
                            <div class="p-alphabet__list">
                                <div>Ведение беременности</div>
                                <div>Врач пренатальной диагностики</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Г
                            </div>
                            <div class="p-alphabet__list">
                                <div>Гастроэнтеролог</div>
                                <div>Гематолог</div>
                                <div>Генетик</div>
                                <div>Гинеколог</div>
                                <div>Гинеколог-хирург</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Д
                            </div>
                            <div class="p-alphabet__list">
                                <div>Диетолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                К
                            </div>
                            <div class="p-alphabet__list">
                                <div>Кардиолог</div>
                                <div>Консультант по грудному
                                    вскармливанию</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                М
                            </div>
                            <div class="p-alphabet__list">
                                <div>Маммолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Н
                            </div>
                            <div class="p-alphabet__list">
                                <div>Невролог</div>
                                <div>Нефролог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                О
                            </div>
                            <div class="p-alphabet__list">
                                <div>Онколог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                П
                            </div>
                            <div class="p-alphabet__list">
                                <div>Педиатр</div>
                                <div>Психиатр</div>
                                <div>Психиатр</div>
                                <div>Психолог</div>
                                <div>Психотерапевт</div>
                                <div>Пульмонолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Р
                            </div>
                            <div class="p-alphabet__list">
                                <div>Ревматолог</div>
                                <div>Репродуктолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                У
                            </div>
                            <div class="p-alphabet__list">
                                <div>Узи</div>
                                <div>Уролог</div>
                                <div>Уролог-хирург</div>
                                <div>Хирург</div>
                                <div>Эмбриолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Э
                            </div>
                            <div class="p-alphabet__list">
                                <div>Эндокринолог</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="child-doctors">
                    <h3 class="p-help__h3">
                        Более 20 специальностей врачей готовы <span class="text--color-blue">помочь
                            вам</span>
                    </h3>
    
                    <div class="p-alphabet">
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                A
                            </div>
                            <div class="p-alphabet__list">
                                <div>Андролог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                B
                            </div>
                            <div class="p-alphabet__list">
                                <div>Ведение беременности</div>
                                <div>Врач пренатальной диагностики</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Г
                            </div>
                            <div class="p-alphabet__list">
                                <div>Гастроэнтеролог</div>
                                <div>Гематолог</div>
                                <div>Генетик</div>
                                <div>Гинеколог</div>
                                <div>Гинеколог-хирург</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Д
                            </div>
                            <div class="p-alphabet__list">
                                <div>Диетолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                К
                            </div>
                            <div class="p-alphabet__list">
                                <div>Кардиолог</div>
                                <div>Консультант по грудному
                                    вскармливанию</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                М
                            </div>
                            <div class="p-alphabet__list">
                                <div>Маммолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Н
                            </div>
                            <div class="p-alphabet__list">
                                <div>Невролог</div>
                                <div>Нефролог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                О
                            </div>
                            <div class="p-alphabet__list">
                                <div>Онколог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                П
                            </div>
                            <div class="p-alphabet__list">
                                <div>Педиатр</div>
                                <div>Психиатр</div>
                                <div>Психиатр</div>
                                <div>Психолог</div>
                                <div>Психотерапевт</div>
                                <div>Пульмонолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Р
                            </div>
                            <div class="p-alphabet__list">
                                <div>Ревматолог</div>
                                <div>Репродуктолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                У
                            </div>
                            <div class="p-alphabet__list">
                                <div>Узи</div>
                                <div>Уролог</div>
                                <div>Уролог-хирург</div>
                                <div>Хирург</div>
                                <div>Эмбриолог</div>
                            </div>
                        </div>
                        <div class="p-alphabet__row">
                            <div class="p-alphabet__letter">
                                Э
                            </div>
                            <div class="p-alphabet__list">
                                <div>Эндокринолог</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="diagnostics">
            Диагностика
        </div>
        <div id="analysis">
            Анализы
        </div>
        <div id="illness">
            Заболевания
        </div>
    </div>
</section>