<section class="p-why">
    <h3 class="p-why__h3">
        Почему стоит к нам обратиться?
    </h3> 
    
    <div class="p-why__list">
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Онлайн-запись и доступ к результатам
            </div>
            <div class="p-why__about">
                Внедрили систему онлайн-записи, благодаря которой вы можете выбрать желаемое время приема и специалиста
            </div>
        </div>
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Предварительные консультации
            </div>
            <div class="p-why__about">
                Первичное обследование, позволяющее врачу оценить состояние пациента и определить шаги лечения или диагностики
            </div>
        </div>
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Централизованная информационная система
            </div>
            <div class="p-why__about">
                Единая платформа для хранения и управления всеми данными о пациентах, медицинских записях и административных процессах.
            </div>
        </div>
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Экспресс-диагностика
            </div>
            <div class="p-why__about">
                Быстрое и эффективное обследование, позволяющее оперативно определить состояние здоровья пациента
            </div>
        </div>
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Оптимизированный маршрут пациентов
            </div>
            <div class="p-why__about">
                Упорядоченный процесс перемещения пациентов между отделениями и специалистами
            </div>
        </div>
        <div class="p-why__row">
            <svg class="p-why__svg">
                <use xlink:href="#check"></use>
            </svg>
            <div class="p-why__tip">
                Горячая линия для пациентов
            </div>
            <div class="p-why__about">
                Круглосуточная телефонная служба, предоставляющая консультации и оперативную поддержку по медицинским вопросам.
            </div>
        </div>
    </div>
</section>