<section class="p-intro">
    <div class="p-intro__start">
        <h2 class="p-intro__h2">
            Добро пожаловать в сеть клиник <span class="text--color-blue">«Медицинские Технологии»</span>
        </h2>
        <div class="p-intro__text">
            Медицинский центр "Medical Technologies" в Санкт-Петербурге предлагает широкий спектр высококачественных медицинских услуг. Мы используем передовые технологии и новейшее оборудование для точной диагностики и эффективного лечения. Наши опытные специалисты, обладающие многолетним опытом, обеспечивают индивидуальный подход к каждому пациенту.
        </div>
        <a class="p-intro__button">Узнать больше о клинике</a>
        <svg class="p-intro__svg">
            <use xlink:href="#bg-image-top"></use>
        </svg>
    </div>

    <div class="p-intro__gallery">
        <a data-src="src/images/fasad@4x.png" data-fancybox="gallery" data-caption="Фасад">
            <img src="src/images/fasad@2x.png" alt="" width="650" height="420" />
        </a>
    </div>
</section>