<section class="p-press">
    <h2 class="p-press__h2">
        Пресс-центр
    </h2>
    <div class="p-press__descr">
        Будьте в курсе наших новостей
    </div>

    <div class="p-press__accordion" id="tabs-press">
        <ul class="p-accordion__inner-top">
            <li class="accordion-header"><a href="#news">Новости</a></li>
            <li class="accordion-header"><a href="#articles">Статьи</a></li>
        </ul>

        <div id="news">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-1@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                День рождения клиники на Звенигородской!
                            </div>
                            <div class="p-news__text">
                                Сегодня свой второй день рождения отмечает медицинский центр по адресу 2-я
                                Звенигородская ул., д. 13, стр. 40. У клиники сегодня свой второй день рождения
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-2@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Новая программа профилактики сердечно-сосудистых заболеваний
                            </div>
                            <div class="p-news__text">
                                Пациенты могут пройти комплексное обследование, включающее в себя анализы,
                                ультразвуковое исследование, ЭКГ и консультацию кардиолога по самым низким ценам
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-3@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Программа бесплатных консультаций для всей семьи
                            </div>
                            <div class="p-news__text">
                                Пациенты смогут получить квалифицированную помощь и рекомендации специалистов по
                                широкому спектру заболеваний, не выходя из дома.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-1@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                День рождения клиники на Звенигородской!
                            </div>
                            <div class="p-news__text">
                                Сегодня свой второй день рождения отмечает медицинский центр по адресу 2-я
                                Звенигородская ул., д. 13, стр. 40. У клиники сегодня свой второй день рождения
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-2@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Новая программа профилактики сердечно-сосудистых заболеваний
                            </div>
                            <div class="p-news__text">
                                Пациенты могут пройти комплексное обследование, включающее в себя анализы,
                                ультразвуковое исследование, ЭКГ и консультацию кардиолога по самым низким ценам
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-3@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Программа бесплатных консультаций для всей семьи
                            </div>
                            <div class="p-news__text">
                                Пациенты смогут получить квалифицированную помощь и рекомендации специалистов по
                                широкому спектру заболеваний, не выходя из дома.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next hide-for-small-only"></div>
                <div class="swiper-button-prev hide-for-small-only"></div>
            </div>
        </div>
        <div id="articles">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-1@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                День рождения клиники на Звенигородской!
                            </div>
                            <div class="p-news__text">
                                Сегодня свой второй день рождения отмечает медицинский центр по адресу 2-я
                                Звенигородская ул., д. 13, стр. 40. У клиники сегодня свой второй день рождения
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-2@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Новая программа профилактики сердечно-сосудистых заболеваний
                            </div>
                            <div class="p-news__text">
                                Пациенты могут пройти комплексное обследование, включающее в себя анализы,
                                ультразвуковое исследование, ЭКГ и консультацию кардиолога по самым низким ценам
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-3@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Программа бесплатных консультаций для всей семьи
                            </div>
                            <div class="p-news__text">
                                Пациенты смогут получить квалифицированную помощь и рекомендации специалистов по
                                широкому спектру заболеваний, не выходя из дома.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-1@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                День рождения клиники на Звенигородской!
                            </div>
                            <div class="p-news__text">
                                Сегодня свой второй день рождения отмечает медицинский центр по адресу 2-я
                                Звенигородская ул., д. 13, стр. 40. У клиники сегодня свой второй день рождения
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-2@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Новая программа профилактики сердечно-сосудистых заболеваний
                            </div>
                            <div class="p-news__text">
                                Пациенты могут пройти комплексное обследование, включающее в себя анализы,
                                ультразвуковое исследование, ЭКГ и консультацию кардиолога по самым низким ценам
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="p-news">
                            <img class="lozad p-news__image" data-src="src/images/press-3@2x.png" alt="" width="409"
                                height="230">
                            <div class="p-news__title">
                                Программа бесплатных консультаций для всей семьи
                            </div>
                            <div class="p-news__text">
                                Пациенты смогут получить квалифицированную помощь и рекомендации специалистов по
                                широкому спектру заболеваний, не выходя из дома.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next hide-for-small-only"></div>
                <div class="swiper-button-prev hide-for-small-only"></div>
            </div>
        </div>
    </div>

    <a href="" class="p-press__button">Читать все новости</a>
</section>