<section class="p-quote">
    <div class="p-quote__descr">
        Больше 20 лет практики
    </div>
    <h2 class="p-quote__h2"> 
        Проводим <span class="text--color-blue">своевременную</span> диагностику и справляемся со <span
            class="text--color-blue">сложными</span> клиническими случаями
    </h2>
    <div class="p-quote__row">
        <div class="p-quote__person">
            <a class="p-quote__photo" data-src="src/images/a-galustian@2x.png" data-fancybox="gallery" data-caption="">
                <img class="lozad" data-src="src/images/a-galustian@2x.png" alt="" width="100" height="100" />
            </a>
            <div class="p-quote__info">
                <div class="p-quote__name">
                    Галустян Анна Николаевна
                </div>
                <div class="p-quote__who">
                    Главный врач Medical Technologies
                </div>
            </div>
        </div> 
        <div class="p-quote__text">
            <svg class="p-quote__svg">
                <use xlink:href="#quote"></use>
            </svg>
            <div class="p-quote__text-descr">
                Наша цель – превратить поход в медицинское учреждение в спокойное мероприятие без лишнего стресса. Мы
                создали безопасное пространство, в котором можно чувствовать себя уверенно и защищенно. Я действительно
                горжусь нашим подходом: каждый специалист заинтересован в скорейшем выздоровлении своего пациента,
                внимательно погружается в медицинскую ситуацию и ищет точечное, иногда нестандартное, решение проблемы
            </div>
        </div>
    </div>
</section>