<section class="p-doctors">
    <h2 class="p-doctors__h2">
        Наши врачи
    </h2>


    <div class="p-accordion">
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">Все</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Косметологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Кардиологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Дерматологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Диетологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Гастроэнтерологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Гинекологи</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Терапевты</div>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гастроэнтеролог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-romanova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Анастасия Романова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1100</strong>₽
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Кардиолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 12 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        94% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/v-petrov@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Виталий Петров
                                </div>
                                <div class="doctor__experience">
                                    Кандидат медицинских наук
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2000</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Косметолог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 7 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        92% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/a-kirillova@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Алина Кириллова
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 1700</strong>₽
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="doctor">
                                <div class="doctor__top">
                                    <div class="doctor__who">
                                        Гинеколог
                                    </div>
                                    <div class="doctor__how-long">
                                        <span>Стаж</span> 8 лет
                                    </div>
                                    <div class="doctor__recomendations">
                                        80% рекомендаций
                                    </div>

                                    <img class="lozad" data-src="src/images/m-pozharskaya@2x.png" alt="" width="" height=""
                                        class="doctor__image">
                                </div>
                                <div class="doctor__name">
                                    Мария Пожарская
                                </div>
                                <div class="doctor__experience">
                                    Врач высшей категории
                                </div>
                                <div class="doctor__button">
                                    Записаться <strong>от 2800</strong>₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next hide-for-small-only"></div>
                    <div class="swiper-button-prev hide-for-small-only"></div>
                </div>
            </div>
        </div>
    </div>

    <a href="" class="p-doctors__button">Смотреть всех врачей</a>
</section>