@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

.hidden {
	display: none;
}

.p-wrapper {
	background: map-get($colors, 'color-white');
	overflow: hidden;
	position: relative;
}

.text--color-blue {
	color: map-get($colors, 'color-blue');
}

.text--color-gray {
	color: map-get($colors, 'color-secondary-gray');
}

