@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.hidden {
  display: none;
}

.p-wrapper {
  background: map-get($colors, "color-white");
  position: relative;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.text--color-blue {
  color: map-get($colors, "color-blue");
}

.text--color-gray {
  color: map-get($colors, "color-secondary-gray");
}

.text--color-dark-gray {
  color: map-get($colors, "color-darker");
}

.text--color-dark-blue {
  color: map-get($colors, "color-dark-blue");
}
