@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.hidden {
  display: none;
}

.p-wrapper {
  background: map-get($colors, "color-white");
  position: relative;

  @include breakpointUi(lt-xl) {
    overflow: hidden;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding-bottom: 120px;

  @include breakpointUi(lt-xl) {
    overflow: hidden;
    gap: 90px;
    padding-bottom: 90px;
  }
}

.text--color-blue {
  color: map-get($colors, "color-blue");
}

.text--color-gray {
  color: map-get($colors, "color-secondary-gray");
}

.text--color-dark-gray {
  color: map-get($colors, "color-darker");
}

.text--color-darker-gray {
  color: map-get($colors, "color-darker-gray");
}

.text--color-dark-blue {
  color: map-get($colors, "color-dark-blue");
}
