@use "colors" as *;

$heading-color: map-get($colors, "main");
$heading-font-weight: 400;
$heading-font-family: 'stolzl-bold', Arial, sans-serif;

$heading--font-size: (
    "1": 88px,
    "2": 80px,
    "3": 48px,
    "4": 32px,
    "5": 28px,
);

$heading--line-heights: (
    "1": 97px,
    "2": 80px,
    "3": 58px,
    "4": 38px,
    "5": 34px,
);
