@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.first-screen {
  background: map-get($colors, "color-gray") url("../background/doctors-bg.svg")
    no-repeat right top;
  background-size: cover;

  @include breakpointUi(lt-xl) {
    padding: 0 20px 0;
  }

  @include breakpointUi(lt-md) {
    background: map-get($colors, "color-gray")
      url("../background/top-image-mobile@2x.png") no-repeat center -5px;
    background-size: 100%;
  }

  &__container {
    max-width: 965px;
    margin: 0 auto -134px;
    padding-top: 54px;
    position: relative;
    z-index: 5;

    @include breakpointUi(lt-xl) {
      margin: 0 auto;
    }

    @include breakpointUi(lt-md) {
      padding-top: 130px;
    }
  }

  &__h1 {
    text-align: center;
    margin: 0 0 30px;
    @include heading("1");
    font-family: "stolzl-bold";

    @include breakpointUi(lt-xl) {
    }

    @include breakpointUi(lt-md) {
      @include heading("1-mobile");
      margin-bottom: 10px;
    }
  }

  &__descr {
    max-width: 653px;
    margin: 0 auto 30px;
    text-align: center;
    @include text($size: "md");

    @include breakpointUi(lt-xl) {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto 20px;
    }
  }

  &__button {
    @extend %button;
    margin: 0 auto;
    max-width: 226px;

    @include breakpointUi(lt-md) {
      max-width: 100%;
    }
  }
}

.doctors-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include breakpointUi(lt-xl) {
      display: none;
    }
  }

  &__block {
    flex: none;
    position: relative;

    &_1 {
      .doctors-row__info {
        left: 7px;
      }
    }

    &_2 {
      margin-left: -74px;

      .doctors-row__info {
        left: 65px;
      }
    }

    &_3 {
      margin-left: -82px;

      .doctors-row__info {
        left: 48px;
      }
    }

    &_4 {
      z-index: 3;
      margin-right: -83px;

      .doctors-row__info {
        right: 63px;
      }
    }

    &_5 {
      z-index: 2;
      margin-right: -100px;

      .doctors-row__info {
        right: 50px;
      }
    }

    &_6 {
      z-index: 1;

      .doctors-row__info {
        right: 0;
      }
    }
  }

  &__name {
    @include text($size: "xs");
  }

  &__text {
    @include text($size: "xs");
  }

  &__info {
    position: absolute;
    bottom: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 8px 11px;
    border-radius: 4px;
    text-align: center;
  }
}

.p-slider {
  width: 264px;
  height: 157px;
  border-radius: 12px;
  background: map-get($colors, "color-white");
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  z-index: 10;

  @include breakpointUi(lt-xl) {
    position: static;
    margin: 28px auto -40px;
    transform: none;
    width: 320px;
    height: 87px;
    border: 1px solid map-get($colors, "color-dark-gray");
    overflow: hidden;
  }

  .swiper {
    width: 264px;
    height: 157px;

    @include breakpointUi(lt-xl) {
      width: 320px;
      height: 87px;
    }
  }

  .swiper-slide {
    padding: 20px 12px;

    @include breakpointUi(lt-xl) {
      padding: 16px 12px;
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 14px;
  }

  .swiper-pagination-bullet-active {
    background: map-get($colors, "color-blue");
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 2px;
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    margin-right: 20px;
    background: map-get($colors, "color-dark-gray");

    i {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: map-get($colors, "color-dark-gray");
    }

    b {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      border-radius: 2px;
      width: 0%;
      height: 3px;
      background: map-get($colors, "color-blue");
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;

    b {
      animation-name: countingBar;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }

  &__icon {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    margin: 0 auto 12px;

    @include breakpointUi(lt-xl) {
      position: absolute;
      bottom: 5px;
      right: -11px;
      transform: rotate(14deg) scale(1.7);
      opacity: 0.4;
    }
  }
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
