@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.first-screen {
  background: map-get($colors, "color-gray");

  &__container {
    max-width: 965px;
    margin: 0 auto -134px;
    padding-top: 54px;
    position: relative;
    z-index: 5;
  }

  &__h1 {
    text-align: center;
    margin: 0 0 30px;
    @include heading("1");
    font-family: "stolzl-bold";
  }

  &__descr {
    max-width: 653px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    @include text($size: "md");
  }

  &__button {
    @extend %button;
    margin: 0 auto;
    max-width: 226px;
  }
}

.doctors-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__block {
    flex: none;
    position: relative;

    &_1 {
      .doctors-row__info {
        left: 7px;
      }
    }

    &_2 {
      margin-left: -74px;

      .doctors-row__info {
        left: 65px;
      }
    }

    &_3 {
      margin-left: -82px;

      .doctors-row__info {
        left: 48px;
      }
    }

    &_4 {
      z-index: 3;
      margin-right: -83px;

      .doctors-row__info {
        right: 63px;
      }
    }

    &_5 {
      z-index: 2;
      margin-right: -100px;

      .doctors-row__info {
        right: 50px;
      }
    }

    &_6 {
      z-index: 1;

      .doctors-row__info {
        right: 0;
      }
    }
  }

  &__name {
    @include text($size: "xs");
  }

  &__text {
    @include text($size: "xs");
  }

  &__info {
    position: absolute;
    bottom: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 8px 11px;
    border-radius: 4px;
    text-align: center;
  }
}

.p-slider {
  width: 264px;
  height: 157px;
  border-radius: 12px;
  background: map-get($colors, "color-white");
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  z-index: 10;

  .swiper {
    width: 264px;
    height: 157px;
  }

  .swiper-slide {
    padding: 20px 12px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 14px;
  }

  .swiper-pagination-bullet-active {
    background: map-get($colors, "color-blue");
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 2px;
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    margin-right: 20px;
    background: map-get($colors, "color-gark-gray");

    i {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: map-get($colors, "color-gark-gray");
    }

    b {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      border-radius: 2px;
      width: 0%;
      height: 3px;
      background: map-get($colors, "color-blue");
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;

    b {
      animation-name: countingBar;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }

  &__icon {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    margin: 0 auto 12px;
  }
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
