@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-footer {
  padding: 60px 60px 20px 60px;
  background: map-get($colors, "color-dark") url("../background/texture.png")
    no-repeat right top;
  background-size: cover;
  color: map-get($colors, "color-white");

  @include breakpointUi(lt-xl) {
    padding: 20px;
  }

  a {
    color: map-get($colors, "color-white");
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__logo {
    width: 160px;
    height: 57px;
    margin-bottom: 30px;
  }

  &__city {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      position: relative;
      padding-left: 23px;

      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 3px;
        width: 5px;
        height: 16px;
        background: #424847;
      }

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 3px;
        background: #424847;
        width: 5px;
        height: 16px;
        transform: rotate(90deg);
      }
    }
  }

  &__map-link {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    @include text($size: "xs");
    padding: 4px 0;
    border-bottom: 1px solid #677371;
    margin-top: 4px;
    margin-bottom: 22px;
  }

  &__arrow {
    --size: 12px;
    width: var(--size);
    height: var(--size);
  }

  &__time {
    margin-bottom: 37px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;

    @include breakpointUi(lt-xl) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      margin-bottom: 0;
    }
  }

  &__start {
    width: 315px;

    @include breakpointUi(lt-xl) {
      grid-column: span 2;
      width: 100%;
    }
  }

  &__main {
    width: 203px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include breakpointUi(lt-xl) {
      width: unset;
    }
  }

  ul.p-footer__main {
    margin-top: 23px;
  }

  &__doctors {
    width: 203px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    @include text($size: "xs");

    @include breakpointUi(lt-xl) {
      width: unset;
    }
  }

  ul.p-footer__doctors {
    margin-top: 20px;
  }

  &__info {
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpointUi(lt-xl) {
      grid-column: span 2;
      width: 100%;
    }
  }

  &__ask {
    display: block;
    max-width: 315px;
    min-height: 44px;
    background: map-get($colors, "bg-doctors");
    padding: 10px 24px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 12px;
  }

  a.p-footer__ask {
    color: map-get($colors, "main");
  }

  &__accessibility {
    display: block;
    max-width: 315px;
    min-height: 44px;
    color: map-get($colors, "color-white");
    background: transparent;
    padding: 10px 24px 10px 32px;
    border-radius: 8px;
    border: 1px solid map-get($colors, "color-white");
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 15px;

    .p-footer__arrow {
      --size: 10px;
      width: var(--size);
      height: var(--size);
    }
  }

  &__tel {
    @include heading("5");
    font-family: "stolzl-bold";
    margin-bottom: 20px;
    margin-top: 12px;

    @include breakpointUi(lt-xl) {
      margin-top: 30px;
    }
  }

  p {
    @include text($size: "xs");
    color: #abb5b4;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 17px;
  }

  &__download {
    display: flex;
    gap: 10px;

    @include breakpointUi(lt-xl) {
      margin-bottom: 20px;
    }
  }
}

.p-socials {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  img {
    &:first-child {
      margin-right: 18px;
    }
  }
}

ul.p-conf-links {
  @include text($size: "xs");
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4b5353;
  padding: 20px 0;

  @include breakpointUi(lt-xl) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  a {
    color: #abb5b4;
  }
}

.p-copyright {
  @include text($size: "xs");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #abb5b4;
  padding: 33px 0 15px 0;

  @include breakpointUi(lt-xl) {
    flex-direction: column;
    gap: 15px;
    font-size: 10px;
    line-height: 15px;
  }

  &__author {
    color: map-get($colors, "color-white");

    @include breakpointUi(lt-xl) {
      font-size: 12px;
    }
  }
}
