@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: map-get($colors, "color-white");
  padding: 15px 60px;

  &_fixed {
    @include breakpointUi(lt-xl) {
      position: fixed;
      width: 100%;
      left: 0;
      height: 74px;
      z-index: 60;
    }
  }

  @include breakpointUi(lt-xl) {
    padding: 15px 20px;
  }

  &__block-mobile {
    display: none;

    @include breakpointUi(lt-xl) {
      --size: 44px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: map-get($colors, "color-blue");
    }
  }

  &__tel-icon {
    --size: 22px;
    width: var(--size);
    height: var(--size);
  }

  &-info-row {
    display: flex;
    gap: 20px;
    align-items: center;

    @include breakpointUi(lt-xl) {
      gap: 12px;
      margin-left: 8px;
    }
  }

  &_left {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 10px;

    @include breakpointUi(lt-xl) {
      display: none;
    }
  }

  &__info {
    width: 160px;
    text-align: right;
    margin-right: 7px;

    @include breakpointUi(lt-xl) {
      text-align: left;
      margin: 0 0 20px 7px;
    }
  }

  &__tel {
    @include text("color-blue", "md");
    font-family: "stolzl-medium", Arial, sans-serif;
  }

  &__schedule {
    @include text($size: "xs");
  }

  &__login {
    --size: 44px;
    width: var(--size);
    height: var(--size);
    border-radius: 8px;
    background: map-get($colors, "color-dark-gray");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    @extend %button;

    @include breakpointUi(lt-xl) {
      width: 100%;
      flex: 1;
    }
  }
}

.p-logo {
  &__svg {
    width: 149px;
    height: 54px;

    @include breakpointUi(lt-xl) {
      width: 102px;
      height: 37px;
    }
  }
}

.nav-mobile-burger {
  --size: 40px;
  position: relative;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  display: none;

  @include breakpointUi(lt-xl) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 16px;
    height: 1px;
    left: 14px;
    margin-top: -7px;
    transform: translate(0, -50%);
    background: map-get($colors, "main");
    border-radius: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 16px;
    height: 1px;
    background: map-get($colors, "main");
    margin-top: 5px;
    transform: translate(0, -50%);
    left: 14px;
    border-radius: 2px;
  }

  &.nav-close {
    &::before {
      transform: rotate(45deg);
      margin-top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      margin-top: 0;
    }
  }
}

.nav-buttons {
  display: flex;

  @include breakpointUi(lt-xl) {
    display: none;
  }

  &__info-mobile {
    display: none;

    @include breakpointUi(lt-xl) {
      display: block;
      margin: 10px 0 0 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    line-height: 20px;
    color: map-get($colors, "main");

    @include breakpointUi(lt-xl) {
      line-height: 20px;
      padding: 12px 8px;
    }

    &:not(.nav-buttons__search):hover {
      color: map-get($colors, "color-white");
      background: map-get($colors, "color-blue");
    }

    &.nav-buttons__search {
      padding: 0;
    }

    &_row {
      display: flex;
      align-items: center;
      gap: 10px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;

      @include breakpointUi(lt-xl) {
        flex-wrap: wrap;
      }

      .hidden-menu {
        display: none;
        position: absolute;
        width: 300px;
        height: auto;
        background: map-get($colors, "color-blue");
        color: map-get($colors, "color-white");
        top: 100%;
        left: 0;
        padding: 20px 0;
        border-radius: 8px;

        @include breakpointUi(lt-xl) {
          display: block;
          position: static;
          background: transparent;
          color: map-get($colors, "main");
          width: 100%;
          text-align: left;
          padding: 12px 0 0 16px;
        }

        a {
          display: block;
          margin-bottom: 10px;
          padding: 0 20px;
          color: map-get($colors, "color-white");

          @include breakpointUi(lt-xl) {
            padding: 0;
            margin-bottom: 20px;
            @include text("main", "xs");
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:hover {
        .nav-buttons__arrow {
          path {
            stroke: map-get($colors, "color-white");
          }
        }

        .hidden-menu {
          display: block;

          a {
            @include breakpointUi(lt-xl) {
              color: map-get($colors, "color-white");
            }
          }
        }
      }
    }
  }

  &__arrow {
    width: 14px;
    height: 8px;
  }

  &__search {
    @include breakpointUi(lt-xl) {
      display: none;
    }
  }

  &__search-icon {
    --size: 40px;
    width: var(--size);
    height: var(--size);
  }

  &__user {
    --size: 24px;
    width: var(--size);
    height: var(--size);
  }

  @include breakpointUi(lt-md) {
    display: none;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    text-align: center;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  &_opened {
    @include breakpointUi(lt-xl) {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      background: map-get($colors, "color-gray")
        url("../background/menu-bg-mobile.svg") no-repeat right bottom;
      background-size: 360px 598px;
      left: 0;
      top: 74px;
      bottom: 0;
      padding: 14px 20px 20px 12px;
      z-index: 60;
      overflow: hidden;
      overflow-y: auto;
      padding-bottom: 90px;
    }
  }

  &_close-mobile {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 30px;
      height: 3px;
      left: 0;
      transform: translate(0, -50%) rotate(-45deg);
      background: map-get($colors, "main");
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 30px;
      height: 3px;
      left: 0;
      transform: translate(0, -50%) rotate(45deg);
      background: map-get($colors, "main");
    }

    @include breakpointUi(lt-md) {
      display: block;
    }
  }
}
