@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  background: rgba(30, 30, 30, 0.6);
  display: none;
  backdrop-filter: blur(5px);
}

.body-noscroll {
  overflow: hidden;
}

.popup-overlay_opened {
  display: block;
}

.popup-window {
  width: 500px;
  height: 600px;
  padding: 45px 54px 40px 40px;
  border-radius: 24px;
  background: map-get($colors, "color-white");
  box-shadow: 14.22px 15.23px 43.67px 0px #c2c2c20d inset,
    0px 65px 130px -5.08px #0000000d;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__close {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.popup-form {
  &__title {
    @include heading("3");
    color: map-get($colors, "color-blue");
    text-align: center;
    margin: 0 0 20px 0;
  }
}

