@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-intro {
  display: flex;
  gap: 20px;
  @extend %container-fixed;
  margin-top: -180px;

  @include breakpointUi(lt-xl) {
    flex-direction: column-reverse;
    margin-top: 120px;
    align-items: center;
    padding: 0 20px;
    gap: 12px;
  }

  &__start {
    max-width: 650px;
    padding: 64px 32px;
    border-radius: 24px;
    background: map-get($colors, "color-gray");
    position: relative;
    z-index: 2;

    @include breakpointUi(lt-xl) {
      border-radius: 16px;
      padding: 16px;
    }
  }

  &__svg {
    width: 350px;
    height: 220px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 1;
  }

  &__h2 {
    @include heading("4");
    margin-bottom: 15px;
    position: relative;
    z-index: 2;

    @include breakpointUi(lt-xl) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 18px;
    line-height: 23px;
    position: relative;
    z-index: 2;

    @include breakpointUi(lt-xl) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 22px;
    }
  }

  &__button {
    @extend %button;
    position: relative;
    z-index: 2;
    display: table;

    @include breakpointUi(lt-md) {
      width: 100%;
      font-size: 14px;
    }
  }

  &__gallery {
    max-width: 650px;
    border-radius: 24px;
    cursor: zoom-in;

    @include breakpointUi(lt-xl) {
      border-radius: 16px;
    }

    img {
      @include breakpointUi(lt-md) {
        width: 135%;
        height: auto;
        margin-left: -17%;
      }
    }

    a {
      @include breakpointUi(lt-md) {
        display: block;
        width: 100%;
        overflow: hidden;
        border-radius: 16px;
      }
    }
  }
}
