@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-help {
  @extend %container-fixed;
  position: relative;

  &__h2 {
    @include heading("3");
    margin-bottom: 20px;
    text-align: center;

    @include breakpointUi(lt-xl) {
      padding: 0 20px;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 8px;
    }
  }

  &__descr {
    @include text($size: "md");
    text-align: center;
    margin-bottom: 40px;

    @include breakpointUi(lt-xl) {
      padding: 0 20px;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 20px;
    }
  }

  &__h3 {
    @include heading("5");
    margin-bottom: 33px;
    max-width: 572px;

    @include breakpointUi(lt-xl) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
      margin-bottom: 77px;
    }

    @include breakpointUi(gt-sm) {
      width: 100%;
      max-width: 100%;
    }

    @include breakpointUi(lt-md) {
      max-width: 400px;
    }

    @include breakpointUi(xs) {
      max-width: 252px;
    }
  }

  .p-alphabet {
    --column: 4;
    -webkit-column-count: var(--column);
    -moz-column-count: var(--column);
    column-count: var(--column);
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;

    @include breakpointUi(lt-xl) {
      --column: 2;
    }

    @include breakpointUi(lt-md) {
      --column: 1;
    }

    &__row {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
      padding-right: 13px;
      page-break-inside: avoid;
      break-inside: avoid;

      @include breakpointUi(lt-xl) {
        gap: 13px;
      }
    }

    &__letter {
      color: map-get($colors, "color-blue");
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  &__bg {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    z-index: 1;
    height: 98%;
    width: auto;
  }

  .p-accordion {
    position: relative;

    .p-accordion__top {
      list-style-type: none;
      display: flex;
      gap: 16px;
      align-items: center;
      padding: 0;
      margin: 0 0 22px 0;

      @include breakpointUi(lt-xl) {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        padding-left: 20px;
        margin: 0 0 10px;
      }
    }

    & > .ui-widget-content {
      background: map-get($colors, "color-gray")
        url("../background/striped-bg.svg") no-repeat 2px 2px;
      background-size: 1133px 419px;
      border-radius: 12px;
      padding: 37px 20px 42px 25px;

      @include breakpointUi(lt-xl) {
        padding: 20px 20px 42px 20px;
        margin: 0 20px;
        background: map-get($colors, "color-gray");
      }
    }

    .p-accordion__inner-top {
      background: map-get($colors, "color-white");
      border: 1px solid map-get($colors, "color-dark-gray");
      display: flex;
      gap: 10px;
      width: 285px;
      height: 44px;
      border-radius: 8px;
      padding: 3px;
      list-style-type: none;
      position: absolute;
      right: 24px;
      top: 90px;
      margin: 0;

      @include breakpointUi(lt-xl) {
        left: 50%;
        transform: translate(-50%, 0);
      }

      @include breakpointUi(gt-sm) {
        top: 115px;
      }

      @include breakpointUi(lt-md) {
        top: 138px;
      }

      @include breakpointUi(xs) {
        top: 190px;
      }

      .accordion-header {
        height: 36px;
        padding: 10px 13px;
        flex: 1;
        text-align: center;
      }
    }

    &__inner {
      .accordion-header {
        @include text($size: "xs");
      }
    }

    .accordion {
      &-header {
        cursor: pointer;
        height: 44px;
        padding: 10px 24px;
        border-radius: 8px;

        a {
          color: map-get($colors, "main");
        }

        &.ui-state-active {
          background: map-get($colors, "color-dark-gray");
        }
      }
    }
  }
}
