@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-why {
  @extend %container-fixed;

  @include breakpointUi(lt-xl) {
    padding: 0 20px;
  }

  &__h3 {
    @include text($size: "md");
    margin-bottom: 15px;
    margin-top: 0;

    @include breakpointUi(lt-xl) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    @include breakpointUi(lt-xl) {
      gap: 8px;
      display: flex;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    border-bottom: 1px solid map-get($colors, "color-dark-gray");
    padding: 30px 0 20px 0;
    align-items: center;

    @include breakpointUi(lt-xl) {
      flex-direction: column;
      padding: 16px 0;
      align-items: flex-start;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__svg {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    margin-right: 20px;
    flex: none;

    @include breakpointUi(lt-xl) {
      display: none;
    }
  }

  &__tip {
    @include heading("5");
    font-family: "stolzl-bold";
    margin-right: 84px;
    flex: none;
    width: 630px;

    @include breakpointUi(lt-xl) {
      margin-right: 0;
      width: 100%;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 12px;
    }
  }

  &__about {
    line-height: 23px;

    @include breakpointUi(lt-xl) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
