@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-doctors {
  background: map-get($colors, "color-gray") url("../background/texture-light.png")
    no-repeat right top;
  background-size: cover;
  padding: 60px 0;

  @include breakpointUi(lt-xl) {
    overflow: hidden;
  }

  &__inner { 
    @extend %container-fixed;
  }

  &__h2 {
    @include heading("3");
    margin-bottom: 105px;
    text-align: center;
  }

  &__button {
    @extend %button;
    display: table;
    margin: 0 auto;
  }

  .p-doctors-accordion {
    min-height: 470px;
    margin-bottom: 20px;

    .accordion {
      display: flex;
      position: relative;
      z-index: 2;

      &-item {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;

        &:nth-child(1) {
          .accordion-header {
            left: 0;
          }
        }

        &:nth-child(2) {
          .accordion-header {
            left: 90px;
          }
        }

        &:nth-child(3) {
          .accordion-header {
            left: 252px;
          }
        }

        &:nth-child(4) {
          .accordion-header {
            left: 408px;
          }
        }

        &:nth-child(5) {
          .accordion-header {
            left: 575px;
          }
        }

        &:nth-child(6) {
          .accordion-header {
            left: 720px;
          }
        }

        &:nth-child(7) {
          .accordion-header {
            left: 928px;
          }
        }

        &:nth-child(8) {
          .accordion-header {
            left: 1080px;
          }
        }
      }

      &-header {
        position: absolute;
        height: 44px;
        top: -70px;
        cursor: pointer;
        height: 44px;
        padding: 10px 24px;
        border-radius: 8px;
        z-index: 10;

        &.ui-state-active {
          background: map-get($colors, "color-dark-gray");
        }
      }
    }
  }

  .doctor {
    width: 315px;
    min-height: 462px;
    padding: 8px;
    background: map-get($colors, "color-white");
    border-radius: 12px;

    &__top {
      border-radius: 4px 4px 12px 12px;
      background: map-get($colors, "bg-doctors")
        url("../background/doctors-bg.svg") no-repeat right top;
      background-size: cover;
      position: relative;
      min-height: 293px;
      overflow: hidden;
      padding: 8px;

      *:not(.doctor__image) {
        position: relative;
        z-index: 2;
      }
    }

    &__image {
      position: absolute;
      bottom: 0;
      right: -9px;
      z-index: 1;
    }

    &__who {
      padding: 6px 10px;
      display: table;
      margin-bottom: 5px;
      background: map-get($colors, "color-white");
      border-radius: 6px;
      @include text($size: "xs");
    }

    &__how-long {
      padding: 6px 10px;
      display: table;
      background: map-get($colors, "color-white");
      border-radius: 6px;
      @include text($size: "xs");
    }

    &__recomendations {
      padding: 6px 10px;
      display: table;
      background: map-get($colors, "color-light-blue");
      border-radius: 6px;
      margin-top: 181px;
      @include text($size: "xs");
    }

    &__bottom {
        padding: 24px 16px 15px;
    }

    &__name {
      @include text($size: "md");
      margin-bottom: 5px;
    }

    &__experience {
      margin-bottom: 20px;
    }

    &__button {
      @extend %button-base;

      strong {
        font-family: "stolzl-bold", Arial, sans-serif;
      }
    }
  }

  .swiper {
    padding-top: 80px;
    margin-top: -80px;
  }

  .swiper-button-prev {
    --size: 44px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: unset;
    right: 55px;
    top: 30px;
    border-radius: 8px;
    background: map-get($colors, "color-dark-gray");

    @include breakpointUi(lt-xl) {
      display: none;
    }

    &:after {
      @include text("main", "sm");
    }

    &.swiper-button-disabled {
      opacity: 1;

      &:after {
        @include text($style: "color-darker-gray");
      }
    }
  }

  .swiper-button-next {
    --size: 44px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 8px;
    background: map-get($colors, "color-dark-gray");

    @include breakpointUi(lt-xl) {
      display: none;
    }

    &:after {
      @include text("main", "sm");
    }

    &.swiper-button-disabled {
      opacity: 1;

      &:after {
        @include text($style: "color-darker-gray");
      }
    }
  }
}
