@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-help {
  @extend %container-fixed;
  position: relative;

  &__h2 {
    @include heading("3");
    margin-bottom: 20px;
    text-align: center;
  }

  &__descr {
    @include text($size: "md");
    text-align: center;
    margin-bottom: 110px;
  }

  &__h3 {
    @include heading("5");
    margin-bottom: 33px;
    max-width: 572px;
  }

  .p-alphabet {
    --column: 4;
    -webkit-column-count: var(--column);
    -moz-column-count: var(--column);
    column-count: var(--column);
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;

    &__row {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
      padding-right: 13px;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    &__letter {
      color: map-get($colors, "color-blue");
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  &__bg {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    z-index: 1;
    height: 98%;
    width: auto;
  }

  .p-accordion {
    min-height: 420px;
    position: relative;
    background: map-get($colors, "color-gray");
    border-radius: 12px;
    padding: 37px 20px 20px 25px;

    .accordion {
      display: flex;
      position: relative;
      z-index: 2;

      &-item {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;

        &:nth-child(1) {
          .accordion-header {
            left: -20px;
          }
        }

        &:nth-child(2) {
          .accordion-header {
            left: 150px;
          }
        }

        &:nth-child(3) {
          .accordion-header {
            left: 314px;
          }
        }

        &:nth-child(4) {
          .accordion-header {
            left: 445px;
          }
        }
      }

      &-header {
        position: absolute;
        height: 44px;
        top: -106px;
        cursor: pointer;
        height: 44px;
        padding: 10px 24px;
        border-radius: 8px;

        &.ui-state-active {
          background: map-get($colors, "color-gark-gray");
        }
      }

      .accordion_inner {
        &::before {
          content: "";
          position: absolute;
          top: -14px;
          right: 4px;
          width: 286px;
          height: 44px;
          background: map-get($colors, "color-white");
          border-radius: 8px;
          border: 1px solid map-get($colors, "color-gark-gray");
        }

        .accordion-item {
          &:nth-child(1) {
            .accordion-header {
              right: 148px;
            }
          }

          &:nth-child(2) {
            .accordion-header {
              right: 7px;
            }
          }
        }

        .accordion-header {
          min-width: 138px;
          text-align: center;
          top: -11px;
          height: 36px;
          display: table;
          left: unset;
          z-index: 3;
          padding: 10px 16px;
          @include text($size: "xs");
        }
      }
    }
  }
}
