@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-why {
  @extend %container-fixed;

  &__h3 {
    @include text($size: "md");
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid map-get($colors, "color-gark-gray");
    padding: 30px 0 20px 0;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }

  &__svg {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    margin-right: 20px;
    flex: none;
  }

  &__tip {
    @include heading("5");
    font-family: "stolzl-bold";
    margin-right: 84px;
    flex: none;
    width: 630px;
  }

  &__about {
    line-height: 23px;
  }
}
