@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-quote {
  @extend %container-fixed;

  &__h2 {
    @include heading("2");
    margin-bottom: 63px;
    font-family: "stolzl-bold";
  }

  &__descr {
    @include text($size: "md");
    margin-bottom: 25px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @include breakpointUi(lt-xl) {
      flex-direction: column-reverse;
    }
  }

  &__photo {
    border-radius: 100%;
    cursor: zoom-in;
  }

  &__text {
    display: flex;
    gap: 20px;
    max-width: 750px;
  }

  &__text-descr {
    flex: 1;
    line-height: 24px;
  }

  &__person {
    display: flex;
    gap: 20px;
    max-width: 400px;
  }

  &__info {
    margin-top: 22px;
  }

  &__name {
    @include text($size: "md");
    margin-bottom: 8px;
  }

  &__svg {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    margin-top: -9px;
  }
}
