@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.p-discount {
  @extend %container-fixed;
  border: 2px solid map-get($colors, "color-light-blue");
  padding: 4px;
  border-radius: 24px;
  display: flex;
  gap: 50px;

  @include breakpointUi(lt-xl) {
    width: 90%;
    gap: 30px;
  }

  @include breakpointUi(lt-xl) {
    flex-direction: column;
    border-radius: 16px;
  }

  &__block {
    padding: 24px 20px;
    max-width: 483px;

    @include breakpointUi(lt-xl) {
      max-width: 100%;
    }
  }

  &__h2 {
    @include heading("5");
    margin-bottom: 10px;

    @include breakpointUi(lt-xl) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }

  &__descr {
    line-height: 23px;

    @include breakpointUi(lt-xl) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.p-choose {
  padding: 20px 58px 10px 24px;
  border-radius: 20px;
  background: map-get($colors, "color-gray");
  position: relative;
  flex: 1;

  @include breakpointUi(lt-xl) {
    padding: 20px;
    border-radius: 12px;
  }

  &__svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 303px;
    height: 235px;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    gap: 10px 8px;
    align-items: center;
    grid-template-columns: repeat(5, 120px);

    @include breakpointUi(lt-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__block {
    padding: 10px 20px;
    border-radius: 8px;
    background: map-get($colors, "color-dark-gray");
    font-size: 16px;
    cursor: pointer;

    &_active {
      padding: 10px 16px 10px 33px;
      background: map-get($colors, "color-light-blue");
      @include text($size: "xs");
      position: relative;
      height: 36px;

      &::before {
        --size: 8px;
        content: "";
        position: absolute;
        top: 15px;
        left: 16px;
        width: var(--size);
        height: var(--size);
        border-radius: 100%;
        background: map-get($colors, "color-blue");
      }
    }
  }

  &__subtitle {
    @include text("color-darker", "xs");
    margin-bottom: 2px;
  }

  &__title {
    @include text($size: "md");
    margin-bottom: 11px;
  }
}
